<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="black pink,artistas, evento, contratación,show">
    <meta name="description" content="Black Pink en donde quieras, festejar tu cumpleaños junto a ellas ahora es posible!" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> 
    <title>Contratar a Black Pink- Contacto</title>
</head>
<body>                                            <!-- HEADER Y NAV -->                  
    <header class="flex_hn">
        <div>
            <img src="/assets.img/Logo_of_Blackpink.svg.png" class="logo">
        </div>
        <nav>
            <ol class="navegacion">
                <li><a href="/index.html"><img src="/assets.img/home-button_icon-icons.com_72700.png" class="secciones"></a><b class="secciont">Inicio</b></li>
                <li><a href="/views/integrantes.html"><img src="/assets.img/human_female_icon_137487.png" class="secciones"></a><b class="secciont">Integrantes</b></li>
                <li><a href="/views/discografia.html"><img src="/assets.img/iconfinder-album-music-sound-audio-player-4593179_122278.png" class="secciones"></a><b class="secciont">discografia</b></li>
                <li><a href="/views/productos.html"><img src="/assets.img/353439-basket-buy-cart-ecommerce-online-purse-shop-shopping_107515.png" class="secciones"></a><b class="secciont">Productos</b></li>
                <li><a href="/views/contacto.html"><img src="/assets.img/contact_icon-icons.com_64661.png" class="secciones"></a><b class="secciont">Contacto</b></li>
              </ol>
        </nav>
    </header>
                 <main>                          <!-- CONTRATAR LAS ARTISTAS PARA EL EVENTO Y FORMULARIO -->                     
                     <div>
                        <h1 class="titulos">Más cerca que nunca</h1>
                        <p>Si buscan sorprender a sus invitados con un show inigualable, a las chicas de Black Pink tienen que contactar. Este grupó ofrece un amplio catálogo de espectáculos para eventos que abarca música en vivo, humor, baile e intervenciones</p>
                        <p>Para saber cómo se puede contratar a estas artistas, comunicate con nuestras oficinas por WhatsApp</p>
                        <p>Por su contratación también podes consultarnos a través de nuestro formulario de contacto que se encuentra mas abajo. Mediante este, al completarse recibirá los costos por el servicio. Gracias!</p>
                          <div class="flex_imagenes"><img src="/assets.img/blackpink-stage.gif" class="imagen_t2">
                            <p>Black Pink en un show privado</p>
                          </div>
                     </div>
                     <form class="form-style-9">
                        <ul>
                        <li>
                            <input type="text" name="field1" class="field-style field-split align-left" placeholder="Nombres" />
                            <input type="email" name="field2" class="field-style field-split align-right" placeholder="Apellidos" />
                        </li>
                        <li>
                            <input type="text" name="field3" class="field-style field-split align-left" placeholder="Número de celular" />
                            <input type="url" name="field4" class="field-style field-split align-right" placeholder="Correo eléctornico" />
                        </li>
                        <li>
                        <input type="text" name="field3" class="field-style field-full align-none" placeholder="País y ciudad" />
                        </li>
                        <li>
                        <textarea name="field5" class="field-style" placeholder="Detalles sobre el evento"></textarea>
                        </li>
                        <li>
                        <input type="submit" value="Enviar" />
                        </li>
                        </ul>
                        </form>
                 </main>                                  <!-- FOOTER REDES  -->
                 <footer class="text-center text-white" style="background-color: #ffaabd;">
                    <div class="container p-2">
                        <div class="row d-flex justify-content-center">
                          <div class="col-lg-6">
                            <div class="ratio ratio-16x9">
                              <img src="/assets.img/aaaaaaa.gif">
                            </div>
                          </div>
                        </div>
                        <div>
                            <div class="flex_redes">
                                <ol class="redes">
                                  <li> <a title="social_facebook_fb_35" href="https://www.facebook.com/blackpinkyge"><img src="/assets.img/social_facebook_fb_35.png" alt="facebook" class="iredes" /></a></li>
                                  <li> <a title="instagram" href="https://www.instagram.com/blackpinkofficial/"><img src="/assets.img/instagram_black_logo_icon_147122.png" alt="instagram" class="iredes" /></a></li>
                                  <li> <a title="youtube" href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A"><img src="/assets.img/Youtube_Rounded_Solid_icon-icons.com_61558.png" alt="youtube"   class="iredes"/></a></li>
                                  <li> <a title="spotify" href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"><img src="/assets.img/spotify_icon-icons.com_65503.png" alt="spotify"  class="iredes"/></a></li>
                                  <li> <a title="tiktok" href="https://www.tiktok.com/@bp_tiktok?lang=es"><img src="/assets.img/tiktok_logo_icon_186928.png" alt="tiktok"  class="iredes"/></a></li>
                               </ol>
                          </div>
                      </section>
                    </div>
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                      © 2022| Derechos reservados - Black Pink - Argentina
                    </div>
                  </footer>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
                </body>
</html>