<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">  
    <title>Black Pink</title>
</head>        
<body>
    <header class="flex_hn">
        <div>
            <img src="/assets.img/Logo_of_Blackpink.svg.png" class="logo">
        </div>
        <nav>
            <ol class="navegacion">
                <li><a href="/index.html"><img src="/assets.img/home-button_icon-icons.com_72700.png" class="secciones"></a><b class="secciont">Inicio</b></li>
                <li><a href="/views/integrantes.html"><img src="/assets.img/human_female_icon_137487.png" class="secciones"></a><b class="secciont">Integrantes</b></li>
                <li><a href="/views/discografia.html"><img src="/assets.img/iconfinder-album-music-sound-audio-player-4593179_122278.png" class="secciones"></a><b class="secciont">discografia</b></li>
                <li><a href="/views/productos.html"><img src="/assets.img/353439-basket-buy-cart-ecommerce-online-purse-shop-shopping_107515.png" class="secciones"></a><b class="secciont">Productos</b></li>
                <li><a href="/views/contacto.html"><img src="/assets.img/contact_icon-icons.com_64661.png" class="secciones"></a><b class="secciont">Contacto</b></li>
            </ol>
        </nav>
    </header>
                 <main>                   
                     <div textos_p> 
                        <button type="button" class="btn btn-outline-light">Editar</button>
                        <h1 class="titulos">Canciones y letras</h1>
                        <h2 class="titulos">2016: Debut con su primer sencillo digital 'SQUARE ONE'</h2>
                     
                        <p>BLACKPINK hizo su debut el 8 de agosto a las 8 p.m con el lanzamiento de sus canciones "BOOMBAYAH" y "Whistle" de su primer sencillo digital, 'SQUARE ONE'. En tan sólo una hora, el grupo alcanzó el TOP de varios sitios web, y en cuestión de un día, sobrepasó récords, como alcanzar el puesto #1 en iTunes mundialmente, siendo el primer grupo K-Pop en conseguirlo y el segundo grupo femenino tras Fifth Harmony.
                         BLACKPINK logró hacer su primer All-Kill en todas las listas musicales con su canción debut "Whistle" un día después de debutar oficialmente.BOOMBAYAH es una canción con un tempo rápido y un ritmo emocionante suficiente para refrescarte. Mientras que Whistle, su segundo sencillo es una melodía Hip-Hop minimalista en la que se aprecia un ambiente soñador y sensual. La canción transmite la emoción de los susurros amorosos entre un hombre y una mujer.</p>
                         <div class="flex_imagenes"><img src="/assets.img/blackpink6.jpg" class="imagen_t2"></div>
                         <h3 class="titulos">Regreso con su segundo sencillo digital 'SQUARE TWO'</h3>
                         <p>El 1 de Noviembre hicieron su regreso oficialmente con dos canciones, "Playing with Fire" y "Stay", siendo incluida además en "SQUARE TWO" una versión acústica de "Whistle".
                            Para la semana del 9 de Noviembre, las canciones "Playing With Fire" y "Stay" entraron en el top 5 de la lista de ventas de canciones digitales del mundo de Billboard. "Playing With Fire" quedó en primer lugar y "Stay" en cuarto lugar.
                            Regreso con su tercer sencillo digital 'AS IF IT'S YOUR LAST'
                            El 13 de junio, YG Entertainment reveló una imagen donde se revelaba un nuevo comeback luego de 6 meses de descanso. La imagen del teaser muestra las columnas de un templo romano con un fondo rosa, y en el medio muestra la fecha de su regreso, el 22 de Junio.
                            El 22 de Junio de 2017 revelaron la nueva canción y vídeo '마지막처럼 (As If It's Your Last) la cual logró alcanzar más de 13 millones de visitas en sus primeras 24 horas en YouTube, rompiendo el récord de TWICE con 'Knock Knock' y BTS con 'Not Today', además de superar los 30 millones de visitas luego de 4 días desde su lanzamiento. Además se posicionaron en el primer lugar de iTunes Worldwide Singles Charts en más de 18 países, rompiendo su récord de 14 países con "Whistle".
                            El 25 de Junio alcanzaron el primer lugar en el sitio musical chino QQ Music's New Releases Chart, una popular plataforma en dicho país con más de 4 millones de usuarios mensuales, convirtiéndose en el único grupo coreano en estar en el Top 10.</p>
                            <div class="flex_imagenes"><img src="/assets.img/stay.webp" class="imagen_t2"></div>
                            <h3 class="titulos">2018: Primer Mini-Álbum "SQUARE UP"</h3>
                            <p>El 3 y 4 de junio, se revelaron las canciones que estarán en el mini álbum del grupo, las cuales son: "뚜두뚜두 (DDU-DU DDU-DU)" como canción principal, "FOREVER YOUNG", "REALLY" y "SEE U LATER".
                                El 6 de Junio, se liberó el primer teaser de "SQUARE UP" protagonizado por Rosé el cual muestra un adelanto de la canción "FOREVER YOUNG".
                                El 7 de Junio, se liberó el segundo teaser de "SQUARE UP", esta vez se puede apreciar como protagonista a Ji Soo con la misma pista de música que la del teaser de Rosé.
                                El 8 de Junio, se lanzó el tercer teaser de "SQUARE UP" y en esta ocasión la protagonista es Jennie, mostrando un adelanto de la canción "DDU-DU DDU-DU".
                                El 9 de Junio, se lanzó el cuarto teaser para "SQUARE UP" y esta vez la protagonista es Lisa, con la misma canción con la que fue presentada Jennie.
                                El 14 de Junio, se lanzó el teaser para el MV de la canción principal "DDU-DU DDU-DU" que será lanzado el día siguiente.
                                El 15 de Junio se reveló el video para "DDU-DU DDU-DU" y despues de dos horas de su lanzamiento lograron un all-kill al estar en los primeros puestos de las listas de tiempo real como Genie, Naver, MelOn, Mnet, Bugs y Soribada.
                                Con su mini-álbum "SQUARE UP" lograron ocupar el puesto numero uno en las listas de iTunes de 44 paises, entre ellos Austria, Rusia, Hong Kong, Argentina, Bahrain, Brunei, Bulgaria, Cambodia, Canadá, Chile, Colombia, Costa Rica, Finlandia, Grecia, Hungría, India, Indonesia, Japón, Kazajstán, Macao, Malasia, México, Holanda, Nueva Zelanda, Filipinas, Rusia, Arabia Saudita, Singapur, España, Suecia, Taiwán, Tailandia, Turquía, Emiratos Árabes Unidos y Vietnam. El grupo también encabezó la lista del K-Pop en tres plataformas chinas después de su lanzamiento.</p>
                              <div class="flex_imagenes"><img src="/assets.img/duddu.jpg" class="imagen_t2"></div>
                                <h3 class="titulos">2019: Segundo Mini Álbum 'KILL THIS LOVE'</h3>
                                <p>El 25 de marzo YG Entertainment lanzó una imagen teaser de Lisa donde informaba que BLACKPINK haría comeback con "Kill This Love" junto con un mini álbum con el mismo nombre. Se reportó que la canción principal sería más intensa que "DDU-DU DD-DU", además de la coreografía la cual fue una gran inversión siendo la más dinámica que el grupo ha mostrado hasta el momento, 4 coreógrafos internacionales estuvieron a cargo. En ese mismo día se anunció que BLACKPINK seguía en su 4to día de filmación para el MV.
                                    Del 25 de marzo al 29, se revelaron las fotos teaser de las integrantes y una imagen grupal, revelando asi el concepto del comeback.
                                    Con un videoclip plagado de estímulos visuales y apostando por potentes golpes de percusión, BLACKPINK estrenó su tema "Kill This Love" el 4 de abril a la medianoche. La canción cuenta con el característico sonido del grupo, con fragmentos en inglés que denotan su acercamiento a sus fanáticos de occidente. El mini álbum "Kill This Love" es el primer lanzamiento del grupo desde su contrato con Interscope Records.</p>
                                   <div class="flex_imagenes"><img src="/assets.img/ktl.webp" class="imagen_t2"></div>
                                    <h3 class="titulos">2020: Regreso con pre-single 'How You Like That'</h3>
                                    <p>El 04 de mayo de 2020 se reveló que el grupo está trabajando en su comeback, en las próximas semanas filmará su vídeo musical y se espera que lanzen una canción pre-released en junio y otra en julio o agosto y finalmente el álbum completo salga a la venta en Septiembre.
                                        El 09 de junio se revelo una imagen teaser anunciando la fecha del comeback el 26 de junio.
                                        Entre el 14 y 16 de junio se revelaron imágenes teasers individuales de las integrantes para "How You Like That".
                                        El 17 y 18 de junio se subieron videos teasers de las chicas, con una melodía de fondo, que resulto ser la introducción de la nueva canción.
                                        El 22 de junio se ha revelado un “póster de crédito” para el sencillo de BLACKPINK “How You Like That” está compuesta por TEDDY, R.Tee y 24, escrita por TEDDY y Danny Chung, y arreglada por R.Tee y 24. YG Entertainment también compartió detalles sobre el sencillo pre-lanzamiento. “How You Like That” es descrita como un tema hip hop con un sonido que es único a BLACKPINK y desborda carisma. Un punto clave de la canción será como las partes vocales se van construyendo de acuerdo al cambio de emociones.
                                        El 26 de junio BLACKPINK regresó publicando el sencillo de pre-lanzamiento “How You Like That”.
                                        La canción debutó en las lista de éxitos en tiempo real del sitio de música más grande de Corea, Melon, en el número 1, lo que la convirtió en la primera canción de un grupo femenino en llegar a la cima de la lista en aproximadamente dos años. También registró un poco más de 100.000 oyentes en la primera hora de su lanzamiento, el número más alto en la historia para un grupo de chicas.
                                        “How You Like That” entró también en las listas a tiempo real de Genie y Bugs, y a las 10:30 p.m. KST también fue No. 1 en Soribada. A las pocas horas de su lanzamiento, la canción no sólo llegó a lo más alto en las listas de música en tiempo real, sino también dominó las listas de iTunes en países de todo el mundo. A la mañana siguiente, YG Entertainment confirmó que a partir de las 7 am KST del 27 de junio, “How You Like That” había alcanzado el número 1 en las listas de Top Songs de iTunes en al menos 60 regiones diferentes, incluido Estados Unidos, un número que desde entonces ha subido a 64, estableciendo un nuevo récord histórico para grupos de chicas.
                                        BLACKPINK realizó una actuación feroz de su nueva canción “How You Like That” en “The Tonight Show Starring Jimmy Fallon” de NBC por primera vez. La canción es parte de su “regreso en tres pasos”
                                        El 28 de junio aproximadamente a las 2:22 a.m.KST, el nuevo video musical de BLACKPINK para su sencillo de pre-lanzamiento “How You Like That” se elevó a más de 100 millones de visitas en YouTube, lo que significa que la canción tardó solo un día, ocho horas y 22 minutos en alcanzar el récord.</p>
                      <div class="flex_imagenes"><img src="/assets.img/DSP-Promo-Image-How-You-Like-That-1.jpg" class="imagen_t2"></div>
                                                           <h3 class="titulos">Segundo pre-single 'Ice Cream'</h3>
                    <p>El 23 de julio se anuncia que habrá una canción-colaboración, pero no se revelo con quien. El 3 de agosto se revelo la fecha de su canción colaborativa, anunciando que saldrá el 28 de agosto. El 11 de agosto se anunció que su colaboración sera con Selena Gomez. El 21 de agosto se revelo que el nombre de la canción es 'Ice Cream'.
                        El 23 de agosto se subió un teaser en el que se puede ver a Selena Gomez hablando por videollamada con las chicas. Ese mismo dia también se subió la foto teaser de Jisoo. El 25 se subio la foto teaser de Jennie y  Rosé. Y el 26 la de Lisa y Selena. El dia 27 se revelo el segundo MV teaser en el que se puede ver a Selena conduciendo un camion de helados.
                        Finalmente, el 28 de agosto se liberó la canción y el vídeo musical, así como también se entregaron más detalles sobre el álbum del grupo.</p>
                        <div class="flex_imagenes"><img src="/assets.img/blackpink-ice-crea-100-millones-reproducciones_crop1598744252887.jpg_1902800913.webp" class="imagen_t2"></div>
                        <h3 class="titulos">Regreso con Primer Álbum "The Album"</h3>
                        <p>The Album es el primer álbum de estudio surcoreano de Blackpink y tercero en su discografía general. Fue lanzado el 2 de octubre de 2020 en formato digital y el 6 de octubre en formato físico por YG Entertainment e Interscope Records,cuyo título principal es el sencillo «Lovesick Girls». Contiene además, su primer sencillo promocional, la canción «How You Like That», que fue prelanzada el 26 de junio de 2020, además del sencillo «Ice Cream», grabado en colaboración con la cantante estadounidense Selena Gomez. Musicalmente, el álbum utiliza elementos del pop, el R&B, el hip hop, el EDM y el trap,y cuya temática muestra «un lado más maduro del grupo, al cantar sobre una diversidad de emociones experimentadas por las mujeres jóvenes que crecen, en lugar de solo cantar sobre el amor.</p>
                        <div class="flex_imagenes"><img src="/assets.img/blackpink_the_album-portada.jpg" class="imagen_t2"></div>            
                        <h1 class="titulos">Premios</h1>
                                   <p>A la fecha, han recibido 99 premios de un total de 308 nominaciones, siendo galardonadas tanto en Corea del Sur como en Japón, China, Hong Kong, Malasia, Filipinas, Australia, Reino Unido, Alemania, Brasil, México y Estados Unidos. Además, han obtenido 43 premios por primeros lugares en los programas de música de Corea del Sur.</p>
                   <div class="flex_imagenes"><img src="/assets.img/43706293_702655493431304_816018415868182528_n.jpg" class="imagen_t2"></div>
                   <h3>Para acceder a nuestros hits!! >></h3>
                    <a title="canciones" href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"><img src="/assets.img/1486348532-music-play-pause-control-go-arrow_80458.png" alt="canciones" class="imagen_t3"/></a>
                    </div>
                </main>                 
                 <footer class="text-center text-white" style="background-color: #ffaabd;">
                    <div class="container p-2">
                        <div class="row d-flex justify-content-center">
                          <div class="col-lg-6">
                            <div class="ratio ratio-16x9">
                              <img src="/assets.img/aaaaaaa.gif">
                            </div>
                          </div>
                        </div>
                        <div>
                            <div class="flex_redes">
                                <ol class="redes">
                                  <li> <a title="social_facebook_fb_35" href="https://www.facebook.com/blackpinkyge"><img src="/assets.img/social_facebook_fb_35.png" alt="facebook" class="iredes" /></a></li>
                                  <li> <a title="instagram" href="https://www.instagram.com/blackpinkofficial/"><img src="/assets.img/instagram_black_logo_icon_147122.png" alt="instagram" class="iredes" /></a></li>
                                  <li> <a title="youtube" href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A"><img src="/assets.img/Youtube_Rounded_Solid_icon-icons.com_61558.png" alt="youtube"   class="iredes"/></a></li>
                                  <li> <a title="spotify" href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"><img src="/assets.img/spotify_icon-icons.com_65503.png" alt="spotify"  class="iredes"/></a></li>
                                  <li> <a title="tiktok" href="https://www.tiktok.com/@bp_tiktok?lang=es"><img src="/assets.img/tiktok_logo_icon_186928.png" alt="tiktok"  class="iredes"/></a></li>
                               </ol>
                          </div>
                    </div>
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                      © 2022| Derechos reservados - Black Pink - Argentina
                    </div>
                  </footer>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
                </body>
</html>