<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="black pink, kpop, banda femenina, Rosé, Lisa, Jennie, Jisoo, signos, posición, rapera, vocalista, bailarina,">
    <meta name="description" content="Las personalidades que se encuentran en Black Pink son tan únicas y distintas a la vez, te invitamos a conocerlas!" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Chicas de Black Pink- Integrantes</title>
</head>
<body>                               <!-- HEADER Y NAV -->      
    <header class="flex_hn">
        <div>
            <img src="/assets.img/Logo_of_Blackpink.svg.png"  class="logo">
        </div>
        <nav>
            <ol class="navegacion">
                <li><a href="/index.html"><img src="/assets.img/home-button_icon-icons.com_72700.png" class="secciones"></a><b class="secciont">Inicio</b></li>
                <li><a href="/views/integrantes.html"><img src="/assets.img/human_female_icon_137487.png" class="secciones"></a><b class="secciont">Integrantes</b></li>
                <li><a href="/views/discografia.html"><img src="/assets.img/iconfinder-album-music-sound-audio-player-4593179_122278.png" class="secciones"></a><b class="secciont">discografia</b></li>
                <li><a href="/views/productos.html"><img src="/assets.img/353439-basket-buy-cart-ecommerce-online-purse-shop-shopping_107515.png" class="secciones"></a><b class="secciont">Productos</b></li>
                <li><a href="/views/contacto.html"><img src="/assets.img/contact_icon-icons.com_64661.png" class="secciones"></a><b class="secciont">Contacto</b></li>
            </ol>
        </nav>
    </header>                               
                <main>                                       <!-- CONTENIDO SOBRE LAS INTEGRANTES DEL GRUPO -->
                        
                           <div class="textos_p"><h1 class="titulos" >BLΛƆKPIИK, la promesa de YG Entertainment</h1></div>
                            <div class="textos">
                              <p>Blackpink es un grupo femenino surcoreano formado por YG Entertainment. Está integrado por cuatro miembros: Jisoo, Jennie, Rosé y Lisa.</p>
                              <h2 class="titulos">El negro y rosa</h2>
                               <p>Por el momento, sus colores son el rosa y el negro. Según las miembros, Jisoo y Rosé representan el rosa mientras que Jennie y Lisa el negro.</p> 
                              <p>El origen de su nombre es como una contradicción a la percepción típica que se tiene del rosa. Para muchos, ese color es utilizado para representar lo lindo, pero BLACKPINK quiere decir que "lo lindo no lo es todo". Además, representa que ellas son un equipo que engloba, no solo la belleza, sino también un gran talento.</p>
                            </div>
                             <img src="/assets.img/HD-wallpaper-jennie-jisoo-k-pop-lisa-rose-in-black-background-blackpink.jpg" class="imagen_t1">   
                    
                            <div class="textos_p">
                              <h3 class="titulos">Integrantes:</h3>
                            <div class="animated-shadow"><div class="flex_imagenes"><h4 class="subtitulos">Jennie</h4></div>
                              <img src="/assets.img/jenniebp.jpg" class="imagen_t4"></div>
                      <div>
                            <div class="botonc"> <a  class="btn btn-outline-light" role="button" href="#collapse1" data-bs-toggle="collapse" aria-controls="collapse1" aria-expanded="false">Jennie Bio ❀</a>
                               </div></div>
                               <div class="collapse" id="collapse1">
                                <div class="textos">
                                <p>Fecha de nacimiento: 16-Enero-1996 (26 Años)</p>
                                <p>Estatura: 163cm</p>
                                <p>Peso: 50 kg</p>
                                <p>Signo zodiacal:Capricornio</p>
                                <p>Jennie fue confirmada como la primera miembro de BLACKPINK el 1 de Junio del 2016. Era conocida anteriormente por colaborar con artistas de su misma agencia antes de su debut.</p>
                                <p>Durante su infancia vivió en Auckland, Nueva Zelanda y estudió en el ACG Parnell College.</p>
                                <p>Posición: Rapera, Vocalista y Bailarina</p>
                            </div>
                               </div>
                      <div class="animated-shadow"><div class="flex_imagenes"><h4 class="subtitulos">Jisoo</h4></div>
                      <img src="/assets.img/jisoobp.jpg" class="imagen_t4"></div>
                      <div>
                      <div class="botonc"><a class="btn btn-outline-light" role="button" href="#collapse1" data-bs-toggle="collapse" aria-controls="collapse1" aria-expanded="false">Jisoo Bio ❀</a>
                           </div></div>
                           <div class="collapse" id="collapse1">
                            <div class="textos">
                                <p>Fecha de nacimiento: 03-Enero-1995 (27 Años)</p>
                                <p>Estatura: 162 cm</p>
                                <p>Peso: 45 kg</p>
                                <p>Signo zodiacal: Capricornio</p>
                                <p>Ji Soo fue confirmada como la tercera miembro de BLACKPINK el 15 de Junio del 2016. Antes de su debut, había aparecido en varios videoclips de artistas de su misma agencia, además de modelar para varias marcas y hacer un cameo en The Producers</p>
                                <p>Practicó taekwondo de pequeña pero no quería ser un rango más alto que cinturón blanco, así que faltó a la ceremonia de cambio de rango y dejó de ir.</p>
                                <p>Posición: Vocalista y Bailarina</p>
                        </div>
                           </div>
                   </div>
                   <div class="animated-shadow"><div class="flex_imagenes"><h4 class="subtitulos">Rosé</h4></div>
                      <img src="/assets.img/tumblr_39bdb8f397d1ce92fca0ed3cca0e882b_d2cab7cb_400.jpg" class="imagen_t4"></div>
                     <div>
                         <div class="botonc"><a class="btn btn-outline-light" role="button" href="#collapse1" data-bs-toggle="collapse" aria-controls="collapse1" aria-expanded="false">Rosé Bio ❀</a>
                          </div> </div>
                           <div class="collapse" id="collapse1">
                            <div class="textos">
                       <p>Fecha de nacimiento: 11-Febrero-1997 (25 Años)</p>
                        <p>Estatura: 168 cm</p>
                      <p>Peso: 45 kg</p>
                      <p>Signo zodiacal: Acuario</p>
                      <p>Rosé fue confirmada como la cuarta y última miembro de BLACKPINK el 22 de Junio del 2016. Antes de su debut había colaborado con G-Dragon en la canción "Without You" de manera anónima. Durante el debut se consideró la cara nueva del grupo, pues era la única miembro desconocida hasta el momento.</p>
                         <p>Estuvo en el coro de su iglesia cuando era joven. También fue animadora durante el tiempo que estuvo en el Instituto.</p>
                       <p>Posición: Vocalista y Bailarina</p>
                        </div>
                           </div>
                        <div class="animated-shadow"><div class="flex_imagenes"><h4 class="subtitulos">Lisa</h4></div>
                      <img src="/assets.img/lisabp.jpg" class="imagen_t4"></div>
                        <div> 
                        <div class="botonc"><a class="btn btn-outline-light" role="button" href="#collapse1" data-bs-toggle="collapse" aria-controls="collapse1" aria-expanded="false">Lisa Bio ❀</a>
                        </div></div>
                        <div class="collapse" id="collapse1">
                       <div class="textos">
                    <p>Fecha de nacimiento: 27-Marzo-1997 (25 Años)</p>
                    <p>Estatura: 167 cm</p>
                    <p>Peso: 46 kg</p>
                    <p>Signo zodiacal: Aries</p>
                    <p>El 8 de junio de 2016 fue presentada como la segunda integrantes del grupo y primera Tailandesa en debutar en YG, ya contaba con un video de baile subido en YG el 11 de mayo de 2012 “who's that girl” el cual obtuvo mucha atención, también fue modeló de la marca de YG NANA9ON desde el 2015.</p>
                    <p>De pequeña formó parte de un grupo de baile llamado "We Zaa Cool". Cuando viajó a Corea del Sur para convertirse en cantante sólo tenía 14 años.</p>
                    <p>Posición: Rapera y Bailarina</p>
                 </div>
                   </div>
                    <h1 class="titulos">Curiosidades</h1>
                    <lo class="textos">
                    <li>Eran apodadas Monster Rookies en su primer año de actividades.</li>
                    <li>Fueron elegidas como embajadoras del Aeropuerto de Incheon, por lo que en dicho lugar se podía ver anuncios, vídeos y carteles con su imagen durante el año 2017.</li>
                    <li>BLACKPINK fue nominado para los premios "Nickelodeon Kids' Choice Awards 2019" en la categoria "favorite global music star".</li>
                    <li>Tienen colaboraciones con Lady Gaga y Dua Lipa</li>
                    </lo>

                  </div>
                </main>                                   <!-- FOOTER REDES  -->          
                        <footer class="text-center text-white" style="background-color: #ffaabd;">
                            <div class="container p-2">
                                <div class="row d-flex justify-content-center">
                                  <div class="col-lg-6">
                                    <div class="ratio ratio-16x9">
                                      <img src="/assets.img/aaaaaaa.gif">
                                    </div>
                                  </div>
                                </div>
                                <div>
                                      <div class="flex_redes">
                                        <ol class="redes">
                                          <li> <a title="social_facebook_fb_35" href="https://www.facebook.com/blackpinkyge"><img src="/assets.img/social_facebook_fb_35.png" alt="facebook" class="iredes" /></a></li>
                                          <li> <a title="instagram" href="https://www.instagram.com/blackpinkofficial/"><img src="/assets.img/instagram_black_logo_icon_147122.png" alt="instagram" class="iredes" /></a></li>
                                          <li> <a title="youtube" href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A"><img src="/assets.img/Youtube_Rounded_Solid_icon-icons.com_61558.png" alt="youtube"   class="iredes"/></a></li>
                                          <li> <a title="spotify" href="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF"><img src="/assets.img/spotify_icon-icons.com_65503.png" alt="spotify"  class="iredes"/></a></li>
                                          <li> <a title="tiktok" href="https://www.tiktok.com/@bp_tiktok?lang=es"><img src="/assets.img/tiktok_logo_icon_186928.png" alt="tiktok"  class="iredes"/></a></li>
                                       </ol>
                                      </div>
                            </div>
                            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                              © 2022| Derechos reservados - Black Pink - Argentina
                            </div>
                          </footer>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
                        </body>
</html>