@media (min-width: 480px) and (max-width: 767px) {
    .flex_hn {
      display: flex;
      flex-wrap: wrap; }
    .logo {
        @include sizes (20px,75px);}
    .secciones {
        @include sizes (75px,75px);
      padding-inline: 20%; }
    .secciont {
      font-size: smaller; }
    .titulos {
      margin-block: 5%; }
    .imagen_t3 {
        @include sizes (15%,15%); }
    .box {
      background-color: $--secondary;
      margin: auto;
      margin-top: 10%;
      max-width: 70%;
      padding: 15px 15px;
      border-radius: 2%;
      border-width: 5px;
      border-style: solid;
      border-color: $--primary; }
    p {
      font-size: medium; }
      .flexbox {
        display: flex;
        flex-wrap: wrap !important; }
       }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .flex_hn {
      display: flex;
      justify-content: center;
      align-items: center; }
    .logo {
        @include sizes (75px,50px); }
    .secciones {
        @include sizes (100px,100px);
      padding-inline: 20%; }
    .secciont {
      font-size: smaller; }
    .titulos {
      margin-block: 3%; }
    .imagen_t3 {
        @include sizes (15%,15%) }
    .box {
      margin: auto;
      margin-top: 5%;
      max-width: 50%;
      padding: 10px 10px;
      border-radius: 2%;
      border-width: 5px;
      border-style: solid;
      border-color:$--primary }
    p {
      font-size: medium; } 
      .flexbox {
        display: flex;
        flex-wrap: wrap; }
  }
  @media (min-width: 993px) {
    .logo {
        @include sizes (40px,900px); }
    .imagen_t3 {
        @include sizes (5%,5%); }
    .box {
      margin: auto;
      margin-top: 5%;
      max-width: 50%;
      padding: 5px 5px;
      border-radius: 2%;
      border-width: 5px;
      border-style: solid;
      border-color: $--primary; }
    .flexbox {
      display: flex;
      flex-wrap: wrap; } }
      @media  (min-width: 515px){
        .logo {
            @include sizes (110px,60px);  }
          .secciones {
            @include sizes (60px,60px); 
            padding-inline: 20%; }
          .secciont {
            font-size: smaller; }
            .flex_hn {
                display: flex;
                align-items: center;
                }
            }

            @media (min-width: 320px) and (max-width: 479px){
              .flex_hn {
                display: flex;
                flex-wrap: wrap;
                background-color: $--primary;
                @include sizes (100%,100%);
              }
            .logo {
              @include sizes(30x,200px);
             }
            .secciones {
              @include sizes (40px,40px);
              padding-inline-start: 20%;
        }
            .secciont {
              font-size: smaller; }
            .titulos {
              margin-block: 5%; }
            .box {
              background-color: $--secondary;
              margin: auto;
              margin-top: 10%;
              max-width: 70%;
              padding: 15px 15px;
              border-radius: 2%;
              border-width: 5px;
              border-style: solid;
              border-color:$--primary; }
            p {
              font-size: large; } 
              .flexbox {
                display: flex;
                flex-wrap: wrap;
               }
                .producto_img{
                  @include sizes (150px,150px);
                }
                .imagen_t2 {
                  @include sizes (100%,100%);
                 }
                  .imagen_t3 {
                    @include sizes (30%,30%);
                    border-bottom: $--secondary;
                    background-color:$--primary;
                    border-radius: 20px; }
                  .imagen_t4 {
                    @include sizes (250px,250px);
                   }
                    .iredes {
                      @include sizes (40px,40px);
                     }
              
                .navegacion {
                  display: flex;
                 flex-wrap: wrap;
                 justify-content: center }
            
              }
              
              @media (min-width: 1400px) and (max-width: 2560px){
                .secciones {
                  @include sizes (80px,80px);
            }
                .titulos {
                font-size: 100px; }
                
                .textos {
                  font-size: 70px; }
                
                .subtitulos {
                  font-size: 80px; }
                
                h3 {
                  font-size: 65px; }
                
                p {
                  font-size: 65px; }
                
                .textos_p {
                  font-size: 60px; }
        
                  .imagen_t3{
                    @include sizes (40%,40%);
                 
                  }
                  .imagen_t2{
                    @include sizes (70%,70%);
                  }
                  .imagen_t4{
                    @include sizes (900px,900px);
                }
        
              }
          
            
        
          
            
  